#main{
    height: 400px;
    width: 400px;
    background-color: aquamarine;
    margin: auto;
    text-align: center;
    padding-top: 20px;
}
#moni{
    text-align: justify;
    margin-left: 30px;
}
#n1{
    margin-top: 5%;
    text-align: center;
}
#eee{
    margin-right: 70px;
}
button{
    height: 30px;
}
button:hover{
    background-color: rgb(218, 61, 61);
}
body{
    margin-top: 100px;
    background-color: black;
}